.content{
    float:left;
    width: 60%;
    padding:0 0 0 30px;
}
.sidebar{
    float:right;
    width:30%;
    padding:10px;
    background: green;
    height: 100%;
   color:maroon;
}
h1{
    text-align: center;
    border-bottom: 1px solid #bbb;
    padding: 0 0 10px 0;
    color:red;
}
#date{
    color:darkmagenta;
    font-size:12px;
    font-style: italic;
}
body{
    background:lightpink;
    color:black;
}
#ch{
    color:darkorange;
    font-style: italic;
    background-color:darkmagenta;
}
.cb{
    background-color:plum;
    color:maroon;
}
#la{
    background-color: white;
}